<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body>
  <% include ../partials/scripts.ejs %>
    <% include ../partials/menu.ejs %>
      <div class="d-flex justify-content-center container-fluid navbarAllowance">
        <div class=" col-12  col-md-4 panelView">
          <h1 class="text-center">Reset Password</h1>
          <br>

          <div class="row d-flex justify-content-center">
            <% if(messages.length > 0) { %>
              <% messages.forEach( function (message){ %>
                <div class="alert alert-danger" role="alert">
                  <%= message  %>
                </div>
                <% }) %>
                  <%}%>

          </div>

          <div class="row d-flex justify-content-center">
            <% if(success.length > 0) { %>
              <div class="alert alert-success" role="alert">
                <%= success  %>
              </div>
              <%}%>
          </div>
          <div class="row d-flex justify-content-center">

            <form action="/user/resetPassword" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="token" value="<%=token%>">
              <div class="form-group">
                <label for="email">New Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="email">Confirm New Password</label>
                <input type="password" name="confirmedPassword" class="form-control" id="confirmedPassword" placeholder="Confirmed Password">
              </div>
              <button type="submit" name="button" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
          <br>
          <div class="row d-flex justify-content-center">

            <p> Dont have an account? <a href="/user/signup">sign up here </a></p>
          </div>
        </div>
      </div>


</body>

</html>
