@font-face{font-family:ArefRuqaaBold;src:url(../fonts/home/ArefRuqaaBold.ttf)}@font-face{font-family:DancingScriptBold;src:url(../fonts/home/DancingScriptBold.ttf)}body{background-color:#2f2504}nav{background-color:rgba(0,0,0,0.7)}a{color:#00b7ff}nav .nav-link{font-family:ArefRuqaaBold;color:white;font-size:15px}h1{text-align:center;font-family:ArefRuqaaBold}h2{font-family:ArefRuqaaBold;color:black;text-align:center}.nav-pills .nav-link{color:#69626d}.btn-success{border-color:#daddd8;background-color:#daddd8;color:#1c1c1c}.btn-success:hover,.btn-success.focus,.btn-success:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.nav-pills .nav-link.active{color:#daddd8;background-color:#69626d;border-color:#69626d}.btn-success:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem #daddd8}.btn-success:focus,.btn-success.focus{box-shadow:0 0 0 .2rem #daddd8}.btn-primary{color:white;background-color:#69626d;border-color:#69626d}.btn-primary:hover{border-color:#181618;background-color:#181618;color:white}.btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem #181618}.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem #181618}.price{font-weight:bold}.navbarAllowance{margin-top:80px}.panelView{background-color:#f9eee0;border-radius:3px;padding:10px 15px}.card{box-shadow:0 0 2px 3px #69626d}
/*
@font-face {
  font-family: ArefRuqaaBold;
  src: url(../fonts/home/ArefRuqaaBold.ttf);
}
@font-face {
  font-family: DancingScriptBold;
  src: url(../fonts/home/DancingScriptBold.ttf);
}

body {
  background-color: #2F2504;
}

nav {
  background-color: rgba(0,0,0,0.7);
}

a {
  color: #00B7FF;
}

nav .nav-link {
  font-family: ArefRuqaaBold;
  color: white;
  font-size: 15px;
}
h1 {
  text-align: center;
  font-family: ArefRuqaaBold;

}
h2  {
  font-family: ArefRuqaaBold;
  color: black;
  text-align: center;
}

.nav-pills .nav-link {
  color: #69626D;
}
.btn-success {
  border-color: #DADDD8;
  background-color: #DADDD8;
  color: #1C1C1C;
}
.btn-success:hover ,.btn-success.focus, .btn-success:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .nav-pills .nav-link.active  {
  color: #DADDD8;
  background-color: #69626D;
  border-color: #69626D;
}
.btn-success:not(:disabled):not(.disabled):active:focus{
  box-shadow:0 0 0 0.2rem #DADDD8;
}
.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem #DADDD8;
}

.btn-primary {

  color: white;
  background-color: #69626D;
  border-color: #69626D;
}

.btn-primary:hover {
  border-color: rgb(24,22,24);
  background-color: rgb(24,22,24);
  color: white;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
  box-shadow:0 0 0 0.2rem rgb(24,22,24);
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgb(24,22,24);
}

.price{
  font-weight: bold;
}

.navbarAllowance {
  margin-top: 80px;
}
.panelView{
  background-color: #F9EEE0;
  border-radius: 3px;
  padding: 10px 15px;
}
.card{
  box-shadow: 0px 0px 2px 3px #69626D;
} */
