<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body>
  <% include ../partials/scripts.ejs %>
    <% include ../partials/menu.ejs %>
      <link rel="stylesheet" href="/stylesheets/homeStyle.css">

      <div class="landing">
        <div class="container-fluid h-75">
          <div class="row align-items-center h-100">
            <div class="offset-2 col-4">

              <h1>Sansaar</br>Pilgrims</h1>
              <br>
              <br>
              <h2 class="subheading">Discover the mysteries of kashi</h2>
            </div>
          </div>
          <!-- <div class="row">
            <div class="offset-2 col-4 align-items-center">
              <h2 class="subheading">Discover the mysteries of kashi</h2>
            </div>
          </div> -->
        </div>
      </div>

      <div class="container-fluid secondSection">
        <div class="row align-items-center">
          <div class="col ">

            <h2> Title </h2>
            <br>
            <br>
            <p> Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. Leggings ethical McSweeney's, normcore you probably haven't heard of them
              Marfa organic squid. Slow-carb 90's ennui Godard pug asymmetrical, narwhal VHS Tonx High Life. Retro dreamcatcher synth Godard pickled Etsy jean shorts beard, pour-over fanny pack mumblecore. Quinoa retro aesthetic polaroid, Williamsburg
              American Apparel plaid small batch. Blue Bottle Vice fanny pack, Williamsburg roof party Wes Anderson mlkshk seitan brunch before they sold out lo-fi XOXO tofu scenester small batch. Synth polaroid bitters chillwave pickled. Vegan disrupt
              tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. Leggings ethical McSweeney's, normcore you probably haven't heard of them Marfa organic squid. Slow-carb 90's ennui Godard pug
              tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. Leggings ethical McSweeney's, normcore you probably haven't heard of them Marfa organic squid. Slow-carb 90's ennui Godard pug
              tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. Leggings ethical McSweeney's, normcore you probably haven't heard of them Marfa organic squid. Slow-carb 90's ennui Godard pug
              tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. Leggings ethical McSweeney's, normcore you probably haven't heard of them Marfa organic squid. Slow-carb 90's ennui Godard pug


          </div>
          <div class="col-md d-none d-md-block">
            <img src="/images/peopleFire-min.png" alt="" style="width:100%; height:100%;">
          </div>
        </div>
      </div>

      <br>
      <br>
      <div class="container-fluid">

        <div class="row">
          <div class="col d-flex justify-content-center">
            <a id="brochureDownload" href="#" class="text-center"> Download Our Brochure  <img src="/images/downloadIcon.png" id="downloadImg" alt="download"> </a>
          </div>
        </div>
      </div>

      <br>
      <br>
      <div class="container-fluid">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-md-5">
            <div class="card">
              <a href="/shop/">
                <img class="card-img-top" src="/images/shopImg-min.png" alt="Shops link">
                <div class="centered">
                  <h2>Shop</h2>
                </div>
            </a>
            </div>
          </div>

          <div class="col-sm-12 col-md-5">
            <div class="card">
              <a href="/shop/events">
                <img class="card-img-top" src="/images/eventsImg-min.png" alt="Events link">
                <div class="centered">
                  <h2>Events</h2>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>

</body>

</html>
